{% extends "layout.html" %}

{%block body%}
<p>List of countries we register users from:</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Region</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>USA</td>
        <td>North America</td>
        <td>OK</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>China</td>
        <td>Asia</td>
        <td>OK</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>France</td>
        <td>Europe</td>
        <td>OK</td>
      </tr>
    </tbody>
  </table>

{%endblock%}